body {
    background-color: black;
    color: white;
    margin-top: 10%;
}

.container {
    display: flex;
    gap: 40px;
}

.container__item {
    flex: 1;
    width: 50%;
}

.container__item--left {
    text-align: right;
}

.container__item--left img {
    width: 100%;
    max-width: 500px;
}

.container__item--right {
    text-align: left;
}

.container__title {
    font-size: 6rem;
    margin-top: 40px;
}

.container__subtitle {
    font-size: 3rem;
    margin-bottom: 20px;
    max-width: 400px;
}

.container__description {
    font-size: 1rem;
    color: gray;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 400px;
}

.container__link {
    color: aliceblue;
    text-decoration: none;
}

@media (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 40px auto;
    }

    .container__item {
        flex: 1;
        width: 100%;
    }

    .container__item--left {
        text-align: center;
    }

    .container__item--left img {
        width: 100%;
        max-width: 500px;
    }

    .container__item--right {
        text-align: center;
    }

    .container__title {
        font-size: 4rem;
        margin-top: 40px;
    }

    .container__subtitle {
        font-size: 2rem;
        margin-bottom: 20px;
        max-width: 400px;
    }

    .container__description {
        font-size: 1rem;
        color: gray;
        margin-top: 20px;
        margin-bottom: 40px;
        max-width: 400px;
    }
}