body {
    background-color: black;
    color: white;
    margin-top: 10%;
}

.container {
    display: flex;
    gap: 40px;
}

.container--item {
    flex: 1;
    width: 50%;
}

.left {
    text-align: right;
}

.left img {
    width: 100%;
    max-width: 500px;
}

.right {
    text-align: left;
}

.p1 {
    font-size: 8rem;
    margin-top: 40px;
}

.p2 {
    font-size: 3rem;
    margin-bottom: 20px;
    max-width: 400px;
}

.p3 {
    font-size: 1rem;
    color: gray;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 400px;
}

.home {
    color: aliceblue;
    text-decoration: none;
}