@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 768px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

body {
    margin: 0;
    padding: 0;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #BDCDD6,#EEE9DA);
    animation: gradientBackground 10s infinite;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    flex: 1;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    justify-content: space-between;
    background-color: #caf0f0; 
    padding: 1px;
    display: flex;
    gap: 10px;
    width: 100%;
    z-index: 1000; 
    margin-bottom: 50px;
}

.left .right {
    display: flex;
    font-size: 20px;
    gap: 10px;
}

nav button {
    background-color: #0c74c4; 
    color: white;
    border: none;
    font-size: x-large;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.icon-home {
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

nav button:hover {
    background-color: #6096B4; 
}
.right_item {
    display: inline-block;
    font-size: x-large;
    margin-left: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    margin: 40px;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
}

h1 {
    color: #6096B4;
    font: caption;
    font-size: 50px;
    font-family: 'Pacifico', cursive;  
}

p {
    color: #93BFCF;
    font: caption;
    font-size: 20px;
    font-family: 'Pacifico', cursive;  
}

.function {
    background-color: #f0feff; 
    padding: 5px;
    border: 1px solid #000000; 
    display: flex-column;
    text-align: center;
    gap: 10px;
}

.rememberLyricsImg {
    max-width: 100%;
}

.video-container {
    width: 100%; 
}

.img-photo {
    max-width: 100%;
}

.footer {
    text-align: center;
    margin-bottom: 0;
}
