body {
    background-image: url(images/wallpaper.png);
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /
}

.navbar--transparent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.navbar--transparent a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease; 
}

.navbar--transparent a:hover {
    color: lightblue;
}

.navbar--transparent .home img {
    height: 50px;  
    width: auto;
    margin-right: 10px;
}

.text--clipping {
    font-size: 3em;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    gap:10px;
}

.text--clipping span {
    display: inline-block;
    transform-origin: center center;
}

.text--clipping span:nth-child(1) { transform: rotate(-20deg); background-color: white;}
.text--clipping span:nth-child(2) { transform: rotate(-1deg); background-color: black;color: white;}
.text--clipping span:nth-child(3) { transform: rotate(3deg); background-color: white;}
.text--clipping span:nth-child(4) { transform: rotate(-20deg); background-color: black;color: white;}
.text--clipping span:nth-child(5) { transform: rotate(1deg);background-color: white; }
.text--clipping span:nth-child(6) { transform: rotate(2deg); background-color: black;color: white;}
.text--clipping span:nth-child(7) { transform: rotate(-20deg); background-color: white;}
.text--clipping span:nth-child(8) { transform: rotate(3deg); background-color: black;color: white;}
.text--clipping span:nth-child(9) { transform: rotate(10deg);background-color: white; }
.text--clipping span:nth-child(10) { transform: rotate(1deg); background-color: black;color: white;}
.text--clipping span:nth-child(11) { transform: rotate(-2deg);background-color: white; }
.text--clipping span:nth-child(12) { transform: rotate(20deg); background-color: black;color: white;}
.text--clipping span:nth-child(13) { transform: rotate(-10deg);background-color: white; }
.text--clipping span:nth-child(14) { transform: rotate(10deg);background-color: black;color: white; }


.input-search{
    width: 300px;
}

.searchIcon {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    display: block;
}
.video-container {
    margin: 20px 0;
    width: 80%; 

}

.buttons {
    display: flex;
    gap: 20px; 
}

.footer {
    text-align: center;
    margin-top: 50px;
}